{{define "body"}}
    <!doctype html>
    <html>

    <head>
        <meta name="viewport" content="width=device-width" />
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>

     <body>
    <p>Poštovani korisniče,</p>
    <p>Obavještavamo Vas da je Vaš zahtjev za promjenu lozinke primljen. Kako biste dovršili proces, molimo Vas da slijedite donji link koji će vas odvesti do ekrana za izmjenu lozinke:</p>
    <p><a href="{{.Link}}">Link za izmjenu lozinke</a>
    <p>Link je validan 60 minuta.</p>
    <p>Nakon što završite s izmjenom, moći ćete se prijaviti na svoj račun koristeći novu šifru. Ukoliko niste zatražili promjenu lozinke ili imate bilo kakvih pitanja, molimo Vas da nas odmah kontaktirate kako bismo Vam pružili dodatnu podršku.</p>
    <p>Tim za podršku korisnicima</p>
    </body>

    </html>
{{end}}