{{define "body"}}
    <!doctype html>
    <html>

    <head>
        <meta name="viewport" content="width=device-width" />
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>

    <body>
    <p>Poštovani korisniče,</p>
    <div>Primili smo Vaš zahtev za resetovanje šifre na našoj platformi.</div>
    <div>Ovo je Vaša nova lozinka: <b>{{.Password}}</b><div>
    <div>Ako niste zatražili resetovanje šifre ili ako imate bilo kakvih pitanja, odmah nas obavijestite putem odgovora na ovaj mejl.<div>
    <p>Hvala na saradnji.</p>
    </body>

    </html>
{{end}}