{{define "body"}}

Poštovani korisniče,

    Primili smo Vaš zahtev za resetovanje šifre na našoj platformi.
    Ovo je Vaša nova lozinka: {{.Link}}
    Ako niste zatražili resetovanje šifre ili ako imate bilo kakvih pitanja, odmah nas obavijestite putem odgovora na ovaj mejl.

Hvala na saradnji.

{{end}}